# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"

config KERNEL_MAIN_STACK_SIZE
  int "Stack size for PebbleOS main kernel thread."
  default 2048

config KERNEL_MAIN_PRIORITY
  int "Priority for PebbleOS main kernel thread."
  default 5

config KERNEL_BACKGROUND_STACK_SIZE
  int "Stack size for PebbleOS background kernel thread."
  default 2048

config KERNEL_BACKGROUND_PRIORITY
  int "Priority for PebbleOS background kernel thread."
  default 5
endmenu

module = APP
module-str = APP
