# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"

config KERNEL_MAIN_STACK_SIZE
  int "Stack size for PebbleOS main kernel thread."
  default 2048

config KERNEL_MAIN_PRIORITY
  int "Priority for PebbleOS main kernel thread."
  default 5

config KERNEL_BACKGROUND_STACK_SIZE
  int "Stack size for PebbleOS background kernel thread."
  default 2048

config KERNEL_BACKGROUND_PRIORITY
  int "Priority for PebbleOS background kernel thread."
  default 5

config MAX_KERNEL_EVENTS
  int "Maximum kernel events."
  default 32

config MAX_FROM_APP_EVENTS
  int "Maximum events from an app."
  default 10

config MAX_FROM_WORKER_EVENTS
  int "Maximum events from a worker."
  default 5

config MAX_FROM_KERNEL_MAIN_EVENTS
  int "Maximum events from main kernel."
  default 14

config EVENT_QUEUE_PUT_TIMEOUT_MS
  int "Maximum time to block until event is put into queue."
  default 3000

config MAIN_EVENT_LOOP_TAKE_TIMEOUT_MS
  int "Maximum time to block waiting for event."
  default 1000

# Unsure how I feel about this being a Kconfig option as changing it will break compatibility
config APP_NAME_SIZE_BYTES
  int "Maximum length of application name in bytes"
  default 96

config MFG_SERIAL_NUMBER_SIZE
  int "Length of serial number"
  default 12

config MAX_DEFAULT_KERNEL_SENDER_PAYLOAD_SIZE
  int "Max length of payload for default comm session kernel sender."
  default 1024

endmenu

module = APP
module-str = APP
