/*
 * Copyright (c) 2025 Core Devices LLC
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <nordic/nrf52840_qiaa.dtsi>
#include <nordic/nrf52840_partition.dtsi>
#include "p2ddk-pinctrl.dtsi"

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/regulator/npm13xx.h>
#include <zephyr/dt-bindings/sensor/lsm6dso.h>

/ {
	model = "Core Devices Pebble 2 Duo";
	compatible = "coredevices,p2ddk";

	chosen {
		zephyr,console = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,display = &ls013b7dh05;
		zephyr,ieee802154 = &ieee802154;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,flash = &flash0;
		zephyr,sram = &sram0;
	};

	buttons: buttons {
		compatible = "gpio-keys";

		btn_back: button-back {
			gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "BACK";
			zephyr,code = <INPUT_KEY_BACK>;
		};

		btn_up: button-up {
			gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "UP";
			zephyr,code = <INPUT_KEY_UP>;
		};

		btn_center: button-center {
			gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "CENTER";
			zephyr,code = <INPUT_KEY_ENTER>;
		};

		btn_down: button-down {
			gpios = <&gpio0 25 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "DOWN";
			zephyr,code = <INPUT_KEY_DOWN>;
		};
	};

	aliases {
		accel0 = &lsm6dso;
		sw0 = &btn_back;
		sw1 = &btn_up;
		sw2 = &btn_center;
		sw3 = &btn_down;
		magn0 = &mmc5603;
		mcuboot-button0 = &btn_back;
		pressure-sensor = &bmp390;
		watchdog0 = &wdt0;
	};
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	npm1300: pmic@6b {
		compatible = "nordic,npm1300";
		reg = <0x6b>;
		pmic-int-pin = <1>;
		host-int-gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;

		regulators {
			compatible = "nordic,npm1300-regulator";

			buck1: BUCK1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
			};

			ldo1: LDO1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-allowed-modes = <NPM13XX_LDSW_MODE_LDO>;
				regulator-initial-mode = <NPM13XX_LDSW_MODE_LDO>;
				regulator-init-microvolt = <1800000>;
				regulator-boot-on;
			};

			ldo2: LDO2 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-allowed-modes = <NPM13XX_LDSW_MODE_LDO>;
				regulator-initial-mode = <NPM13XX_LDSW_MODE_LDO>;
				regulator-init-microvolt = <1800000>;
				regulator-boot-on;
			};
		};

		charger: charger {
			compatible = "nordic,npm1300-charger";
			term-microvolt = <4150000>;
			term-warm-microvolt = <4000000>;
			current-microamp = <150000>;
			dischg-limit-microamp = <1000000>;
			vbus-limit-microamp = <500000>;
			thermistor-ohms = <10000>;
			thermistor-beta = <3380>;
			charging-enable;
		};
	};
};

&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";

	mmc5603: magnetic-sensor@30 {
		compatible = "memsic,mmc56x3";
		reg = <0x30>;
		magn-odr = <0>;
	};

	opt3001: light-sensor@44 {
		compatible = "ti,opt3001";
		reg = <0x44>;
		int-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
	};

	lsm6dso: imu-sensor@6a {
		compatible = "st,lsm6dso";
		reg = <0x6a>;
		irq-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		accel-pm = <LSM6DSO_DT_XL_ULP_MODE>;
		gyro-pm = <LSM6DSO_DT_GY_NORMAL_MODE>;
	};

	bmp390: pressure-sensor@76 {
		compatible = "bosch,bmp390";
		reg = <0x76>;
		odr = "50";
		int-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
	};
};

&i2s0 {
	compatible = "nordic,nrf-i2s";
	status = "okay";
	pinctrl-0 = <&i2s0_default>;
	pinctrl-1 = <&i2s0_sleep>;
	pinctrl-names = "default", "sleep";
};

&ieee802154 {
	status = "okay";
};

&pdm0 {
	status = "okay";
	pinctrl-0 = <&pdm0_default>;
	pinctrl-names = "default";
	clock-source = "PCLK32M_HFXO";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";

	mx25r64: mx25r6435f@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		/* MX25R64 supports only pp and pp4io */
		writeoc = "pp4io";
		/* MX25R64 supports all readoc options */
		readoc = "read4io";
		sck-frequency = <8000000>;
		jedec-id = [c2 28 17];
		sfdp-bfp = [e5 20 f1 ff ff ff ff 03 44 eb 08 6b 08 3b 04 bb
			    ee ff ff ff ff ff 00 ff ff ff 00 ff 0c 20 0f 52
			    10 d8 00 ff 23 72 f5 00 82 ed 04 cc 44 83 68 44
			    30 b0 30 b0 f7 c4 d5 5c 00 be 29 ff f0 d0 ff ff];
		size = <67108864>;
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_LDO>;
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
	zephyr,pm-device-runtime-auto;

	ls013b7dh05: display@0 {
		compatible = "sharp,ls0xx";
		reg = <0x0>;
		disp-en-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		extcomin-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		extcomin-frequency = <60>;
		spi-max-frequency = <DT_FREQ_M(1)>;
		height = <168>;
		width = <144>;
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&uicr {
	gpio-as-nreset;
};
