# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
    source "Kconfig.zephyr"

    choice
        prompt "Select target device"

        config DEVICE_TINTIN
            bool "Target TinTin Device"
        

        config DEVICE_BLANCA
            bool "Target Blanca Device"
    endchoice

endmenu

module = COREOS
module-str = COREOS

source "subsys/logging/Kconfig.template.log_config"
