/ {
  fstab {
        compatible = "zephyr,fstab";
        lfs: lfs {
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/lfs1";
            partition = <&lfs_partition>;
            automount;
            read-size = <16>;
            prog-size = <16>;
            cache-size = <64>;
            lookahead-size = <32>;
            block-cycles = <512>;
        };
    };
};

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		lfs_partition: lfs_partition@0 {
			label = "lfs_partition";
			reg = <0x00000000 0x00010000>;
		};
	};
};
